{% extends 'base.html' %}

{% block title %} Welcome {% endblock %}

{% block content %}
    <main class="landing-main">
        <h1>Welcome to the CIT's Internship Tracker.</h1>

        <p id="purpose">A platform for students to log hours, for mentors to provide feedback, and for teachers to gain performance insight.</h3>

        <div class="getstarted">
            <h2>Get Started</h2>

            <a href="">Log In</a>
            <a href="">Sign Up</a>
        </div>

        <p>Stuck? View the User Manualㅤ<a href="" class="manual">Here</a></p>
    </main>

    <footer>
        <a href="">About</a>
        <a href="">Contact</a>
        <a href="">View the CIT website</a>
    </footer>
{% endblock %}